.Rproj.user
.Rhistory
.RData
.Ruserdata

2012/TourneySims.Rda
2012/TourneySims_v2.Rda
2012/BracketResults_FullTournament.Rda
2012/BracketResults_FullTournament_v2.Rda

2013/TourneySims.Rda
2013/TourneySims_v2.Rda
2013/BracketResults_FullTournament.Rda
2013/BracketResults_FullTournament_v2.Rda

2014/TourneySims.Rda
2014/TourneySims_v2.Rda
2014/BracketResults_FullTournament.Rda
2014/BracketResults_FullTournament_v2.Rda

2015/TourneySims.Rda
2015/TourneySims_v2.Rda
2015/BracketResults_FullTournament.Rda
2015/BracketResults_FullTournament_v2.Rda


2016/TourneySims_v2.Rda
2016/BracketResults_FullTournament_v2.Rda
2016/TourneySims_v3.Rda
2016/BracketResults_FullTournament_v3.Rda

2017/BracketResults_FullTournament_v3.Rda
2017/BracketResults_FullTournament_v2.Rda
2017/TourneySims_v3.Rda
2017/TourneySims_v2.Rda

Massey/
