.Rproj.user
.Rhistory
.RData
.Ruserdata

*BracketResults_FullTournament_v3.Rda
*BracketResults_FullTournament_v2.Rda
*BracketResults_FullTournament.Rda
*TourneySims_v3.Rda
*TourneySims_v2.Rda
*TourneySims.Rda
*mySubmissions.Rda
*KaggleModels.Rda
*KaggleBrackets.Rda
Massey/

