.Rproj.user
.Rhistory
.RData
.Ruserdata

*BracketResults_FullTournament_v3.Rda
*BracketResults_FullTournament_v2.Rda
*BracketResults_FullTournament.Rda
*TourneySims_v3.Rda
*TourneySims_v2.Rda
*TourneySims.Rda
*mySubmissions.Rda
*KaggleModels.Rda
*KaggleBrackets.Rda
Massey/
data/MasseyOrdinals.csv
Old Files/
model-fitting.R
organize-data.R
scrape-data.R
create-tourney-geog.R
data/fulldf.Rda
links for pre-tournament data.txt
SAG/
Bracket Plotting/
538/
Backtest files/
*_model*
2019/Kaggle Submission.csv
